In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv(r"C:\Users\Admin\Downloads\Biodiversity_by_County_-_Distribution_of_Animals__Plants_and_Natural_Communities.csv")

In [3]:
df

,County,Category,Taxonomic Group,Taxonomic Subgroup,Scientific Name,Common Name,Year Last Documented,NY Listing Status,Federal Listing Status,State Conservation Rank,Global Conservation Rank,Distribution Status
0,Albany,Animal,Amphibians,Frogs and Toads,Anaxyrus americanus,American Toad,1990-1999,Game with open season,not listed,S5,G5,Recently Confirmed
1,Albany,Animal,Amphibians,Frogs and Toads,Anaxyrus fowleri,Fowler's Toad,1990-1999,Game with open season,not listed,S4,G5,Recently Confirmed
2,Albany,Animal,Amphibians,Frogs and Toads,Hyla versicolor,Gray Treefrog,1990-1999,Game with open season,not listed,S5,G5,Recently Confirmed
3,Albany,Animal,Amphibians,Frogs and Toads,Lithobates catesbeianus,Bullfrog,1990-1999,Game with open season,not listed,S5,G5,Recently Confirmed
4,Albany,Animal,Amphibians,Frogs and Toads,Lithobates clamitans,Green Frog,1990-1999,Game with open season,not listed,S5,G5,Recently Confirmed
...,...,...,...,...,...,...,...,...,...,...,...,...
20502,Yates,Plant,Flowering Plants,Sedges,Carex meadii,Mead's Sedge,not available,Endangered,not listed,SH,G4G5,Historically Confirmed
20503,Yates,Plant,Flowering Plants,Sedges,Carex retroflexa,Reflexed Sedge,not available,not listed,not listed,S4,G5,Historically Confirmed
20504,Yates,Plant,Flowering Plants,Sedges,Carex sartwellii,Sartwell's Sedge,not available,Endangered,not listed,S1S2,G5,Historically Confirmed
20505,Yates,Plant,Flowering Plants,Sedges,Carex straminea,Straw Sedge,not available,Endangered,not listed,S1,G5,Historically Confirmed
20506,Yates,Plant,Mosses,Other Mosses,Hyophila involuta,Rolled-leaf wet ground moss,2005,not listed,not listed,S2S3,G4G5,Recently Confirmed

In [4]:
bio=df.loc[:,["County","Category","Taxonomic Group","Distribution Status"]]
bio

       County Category   Taxonomic Group     Distribution Status
0      Albany   Animal        Amphibians      Recently Confirmed
1      Albany   Animal        Amphibians      Recently Confirmed
2      Albany   Animal        Amphibians      Recently Confirmed
3      Albany   Animal        Amphibians      Recently Confirmed
4      Albany   Animal        Amphibians      Recently Confirmed
...       ...      ...               ...                     ...
20502   Yates    Plant  Flowering Plants  Historically Confirmed
20503   Yates    Plant  Flowering Plants  Historically Confirmed
20504   Yates    Plant  Flowering Plants  Historically Confirmed
20505   Yates    Plant  Flowering Plants  Historically Confirmed
20506   Yates    Plant            Mosses      Recently Confirmed

[20507 rows x 4 columns]

In [5]:
bio.shape

(20507, 4)

In [6]:
bio.isnull().sum()

County                 0
Category               0
Taxonomic Group        0
Distribution Status    0
dtype: int64

In [7]:
bio.describe()

         County Category Taxonomic Group Distribution Status
count     20507    20507           20507               20507
unique       66        3              27                   4
top     Suffolk   Animal           Birds  Recently Confirmed
freq        733    13611            9678               16127

In [8]:
bio.County.unique()

array(['Albany', 'Dutchess', 'Fulton', 'Allegany',
       'Atlantic Ocean and Long Island Sound', 'Bronx', 'Erie', 'Broome',
       'Cattaraugus', 'Cayuga', 'Chautauqua', 'Chemung', 'Chenango',
       'Clinton', 'Essex', 'Columbia', 'Cortland', 'Counties Unknown',
       'Delaware', 'Franklin', 'Genesee', 'Greene', 'Hamilton',
       'Herkimer', 'Jefferson', 'Kings', 'Lake Erie Open Waters',
       'Lake Ontario Open Waters', 'Lewis', 'Livingston', 'Madison',
       'Monroe', 'Montgomery', 'Nassau', 'New York', 'Niagara', 'Oneida',
       'Onondaga', 'Orange', 'Ontario', 'Orleans', 'Oswego', 'Otsego',
       'Putnam', 'Queens', 'Rensselaer', 'Richmond', 'Rockland',
       'Saratoga', 'Schenectady', 'Schoharie', 'Schuyler', 'Seneca',
       'St. Lawrence', 'Steuben', 'Suffolk', 'Sullivan', 'Tioga',
       'Tompkins', 'Ulster', 'Warren', 'Washington', 'Wayne',
       'Westchester', 'Wyoming', 'Yates'], dtype=object)

In [9]:
bio.drop(bio.loc[bio['County']=='Bronx'].index, inplace=True)
bio.drop(bio.loc[bio['County']=='Atlantic Ocean and Long Island Sound'].index, inplace=True)
bio.drop(bio.loc[bio['County']=='Counties Unknown'].index, inplace=True)
bio.drop(bio.loc[bio['County']=='Lake Erie Open Waters'].index, inplace=True)
bio.drop(bio.loc[bio['County']=='Lake Ontario Open Waters'].index, inplace=True)
bio.drop(bio.loc[bio['County']=='New York'].index, inplace=True)
bio.drop(bio.loc[bio['County']=='Queens'].index, inplace=True)
bio.drop(bio.loc[bio['County']=='Richmond'].index, inplace=True)
bio.drop(bio.loc[bio['County']=='Kings'].index, inplace=True)

In [10]:
bio.describe()

         County Category Taxonomic Group Distribution Status
count     19038    19038           19038               19038
unique       57        3              27                   4
top     Suffolk   Animal           Birds  Recently Confirmed
freq        733    12921            9190               15309

In [11]:
bio.shape

(19038, 4)

In [12]:
bio.rename(columns = {'Taxonomic Group':'Taxonomic_Group', 'Distribution Status': 'Distribution_Status'}, inplace = True)

In [13]:
bio.Taxonomic_Group.unique()

array(['Amphibians', 'Birds', 'Animal Assemblages',
       'Bees, Wasps and Ants', 'Butterflies and Moths',
       'Dragonflies and Damselflies', 'Fish', 'Mammals',
       'Mussels and Clams', 'Other Animals', 'Reptiles',
       'Freshwater Nontidal Wetlands', 'Tidal Wetlands', 'Uplands',
       'Conifers', 'Ferns and Fern Allies', 'Flowering Plants', 'Mosses',
       'Rivers and Streams', 'Lakes and Ponds', 'Flies', 'Snails',
       'Stoneflies', 'Beetles', 'Subterranean', 'Mayflies', 'Marine'],
      dtype=object)

In [14]:
bio.Distribution_Status.unique()

array(['Recently Confirmed', 'Possible but not Confirmed',
       'Historically Confirmed', 'Extirpated'], dtype=object)

In [15]:
bio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19038 entries, 0 to 20506
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   County               19038 non-null  object
 1   Category             19038 non-null  object
 2   Taxonomic_Group      19038 non-null  object
 3   Distribution_Status  19038 non-null  object
dtypes: object(4)
memory usage: 743.7+ KB

## Using Farmland class Dataset

In [16]:
df2= pd.read_csv(r"C:\Users\Admin\Downloads\farmclass.csv")

In [17]:
df2

,Area\nSymbol,Area Name,Map Unit\nSymbol,Map Unit Name,Farmland Class,Map Unit\nAcres,mukey
0,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,2,"Lovewell very fine sandy loam, stratified subs...",All areas are prime farmland,58,296048
1,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,5,"Fluvaquents-Udifluvents complex, frequently fl...",Not prime farmland,47,296049
2,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,6,Redwater fine sandy loam,Not prime farmland,6,296101
3,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,15B,"Waddington gravelly loam, 3 to 8 percent slopes",Farmland of statewide importance,2,296050
4,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,18A,"Adams loamy sand, 0 to 3 percent slopes",Farmland of statewide importance,24,296051
...,...,...,...,...,...,...,...
7951,NY123,"Yates County, New York",We,"Woostern, Bath, and Valois soils, 25 to 45 per...",Not prime farmland,3603,1407906
7952,NY123,"Yates County, New York",Wf,"Woostern gravelly loam, 5 to 15 percent slopes",Farmland of statewide importance,3633,1407907
7953,NY123,"Yates County, New York",Wg,"Woostern gravelly loam, eroded, 5 to 15 percen...",Farmland of statewide importance,1699,1407908
7954,NY123,"Yates County, New York",Wh,"Woostern gravelly loam, 15 to 25 percent slopes",Not prime farmland,1169,1407909
7955,NY123,"Yates County, New York",Wk,"Woostern gravelly loam, eroded, 15 to 25 perce...",Not prime farmland,3251,1407910

In [18]:
df2.rename(columns = {'Area\nSymbol':'Area_symbol', 'Area Name':'County','Map Unit\nSymbol':'Map_unit_symbol','Map Unit Name': 'Map_unit_name','Farmland Class':'Farmland_Class','Map Unit\nAcres': 'unit_Acres'}, inplace = True)

In [19]:
df2

,Area_symbol,County,Map_unit_symbol,Map_unit_name,Farmland_Class,unit_Acres,mukey
0,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,2,"Lovewell very fine sandy loam, stratified subs...",All areas are prime farmland,58,296048
1,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,5,"Fluvaquents-Udifluvents complex, frequently fl...",Not prime farmland,47,296049
2,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,6,Redwater fine sandy loam,Not prime farmland,6,296101
3,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,15B,"Waddington gravelly loam, 3 to 8 percent slopes",Farmland of statewide importance,2,296050
4,NY689,Akwesasne Territory: St. Regis Mohawk Reservation,18A,"Adams loamy sand, 0 to 3 percent slopes",Farmland of statewide importance,24,296051
...,...,...,...,...,...,...,...
7951,NY123,"Yates County, New York",We,"Woostern, Bath, and Valois soils, 25 to 45 per...",Not prime farmland,3603,1407906
7952,NY123,"Yates County, New York",Wf,"Woostern gravelly loam, 5 to 15 percent slopes",Farmland of statewide importance,3633,1407907
7953,NY123,"Yates County, New York",Wg,"Woostern gravelly loam, eroded, 5 to 15 percen...",Farmland of statewide importance,1699,1407908
7954,NY123,"Yates County, New York",Wh,"Woostern gravelly loam, 15 to 25 percent slopes",Not prime farmland,1169,1407909
7955,NY123,"Yates County, New York",Wk,"Woostern gravelly loam, eroded, 15 to 25 perce...",Not prime farmland,3251,1407910

In [20]:
df2.describe()

,Area_symbol,County,Map_unit_symbol,Map_unit_name,Farmland_Class,unit_Acres,mukey
count,7820,7820,7820,7820,7818,7820,7820
unique,60,60,3117,4725,5,4322,7818
top,NY003,"Allegany County Area, New York",W,Water,Not prime farmland,48,mukey
freq,308,308,59,59,3379,11,3

In [21]:
df2.County.unique()

array(['Akwesasne Territory: St. Regis Mohawk Reservation', nan,
       'Albany County, New York', 'Allegany County Area, New York',
       'Broome County, New York', 'Cattaraugus County, New York',
       'Cayuga County, New York', 'Chautauqua County, New York',
       'Chemung County, New York', 'Chenango County, New York',
       'Clinton County, New York', 'Columbia County, New York',
       'Cortland County, New York', 'Delaware County, New York',
       'Dutchess County, New York', 'Erie County, New York',
       'Essex County, New York',
       'Franklin County, New York, Northern Part',
       'Fulton County, New York', 'Genesee County, New York',
       'Greene County, New York', 'Hamilton County, New York',
       'Herkimer County, New York, Southern Part',
       'Jefferson County, New York',
       'Lewis County, New York, Middle Part',
       'Livingston County, New York', 'Madison County, New York',
       'Area Name', 'Monroe County, New York',
       'Montgomery County, New York', 'Nassau County, New York',
       'Niagara County Area, New York', 'Oneida County, New York',
       'Onondaga County, New York', 'Ontario County, New York',
       'Orange County, New York', 'Orleans County, New York',
       'Oswego County, New York', 'Otsego County, New York',
       'Putnam County, New York', 'Rensselaer County, New York',
       'Rockland County, New York', 'Saratoga County, New York',
       'Schenectady County, New York', 'Schoharie County, New York',
       'Schuyler County, New York', 'Seneca County, New York',
       'Seneca Nation of Indians, New York',
       'St. Lawrence County, New York', 'Steuben County, New York',
       'Suffolk County, New York', 'Sullivan County, New York',
       'Tioga County, New York', 'Tompkins County, New York',
       'Ulster County, New York', 'Warren County, New York',
       'Washington County, New York', 'Wayne County, New York',
       'Westchester County, New York', 'Wyoming County, New York',
       'Yates County, New York'], dtype=object)

In [22]:
df2.Farmland_Class.unique()

array(['All areas are prime farmland', 'Not prime farmland',
       'Farmland of statewide importance', 'Prime farmland if drained',
       nan, 'Farmland Class'], dtype=object)

In [23]:
df2['County'].value_counts()

Allegany County Area, New York                       308
Cattaraugus County, New York                         268
Oneida County, New York                              262
Essex County, New York                               257
Fulton County, New York                              216
Ontario County, New York                             212
Lewis County, New York, Middle Part                  212
Erie County, New York                                211
Jefferson County, New York                           201
Clinton County, New York                             200
St. Lawrence County, New York                        175
Cayuga County, New York                              170
Yates County, New York                               169
Livingston County, New York                          169
Onondaga County, New York                            166
Greene County, New York                              163
Wyoming County, New York                             159
Otsego County, New York                              152
Madison County, New York                             147
Genesee County, New York                             145
Delaware County, New York                            136
Franklin County, New York, Northern Part             135
Albany County, New York                              135
Chautauqua County, New York                          133
Ulster County, New York                              132
Montgomery County, New York                          126
Schoharie County, New York                           123
Monroe County, New York                              123
Herkimer County, New York, Southern Part             122
Sullivan County, New York                            122
Saratoga County, New York                            121
Dutchess County, New York                            119
Seneca Nation of Indians, New York                   119
Tompkins County, New York                            119
Schenectady County, New York                         111
Orange County, New York                              108
Seneca County, New York                              108
Columbia County, New York                            106
Wayne County, New York                               106
Niagara County Area, New York                        102
Schuyler County, New York                            101
Chenango County, New York                             95
Orleans County, New York                              94
Cortland County, New York                             91
Oswego County, New York                               89
Steuben County, New York                              87
Rensselaer County, New York                           87
Washington County, New York                           83
Warren County, New York                               81
Putnam County, New York                               74
Westchester County, New York                          73
Rockland County, New York                             70
Hamilton County, New York                             69
Suffolk County, New York                              67
Tioga County, New York                                64
Broome County, New York                               61
Chemung County, New York                              56
Nassau County, New York                               54
Akwesasne Territory: St. Regis Mohawk Reservation     53
Area Name                                              3
Name: County, dtype: int64

In [24]:
df2.dtypes

Area_symbol        object
County             object
Map_unit_symbol    object
Map_unit_name      object
Farmland_Class     object
unit_Acres         object
mukey              object
dtype: object

In [25]:
df2.set_index('County', inplace=True)

In [26]:
# changing index cols with rename()
df2.rename(index = {"Albany County, New York":"Albany", "Allegany County Area, New York":"Allegany",
       "Broome County, New York":"Broome", "Cattaraugus County, New York":"Cattaraugus",
       "Cayuga County, New York":"Cayuga", "Chautauqua County, New York":"Chautauqua",
       "Chemung County, New York":"Chemung", "Chenango County, New York":"Chenango",
       "Clinton County, New York":"Clinton", "Columbia County, New York":"Columbia",
       "Cortland County, New York":"Cortland", "Delaware County, New York":"Delaware",
       "Dutchess County, New York":"Dutchess", "Erie County, New York":"Erie",
       "Essex County, New York":"Essex",
       "Franklin County, New York, Northern Part":"Franklin",
       "Fulton County, New York":"Fulton", "Genesee County, New York":"Genesee",
       "Greene County, New York":"Greene", "Hamilton County, New York":"Hamilton",
       "Herkimer County, New York, Southern Part":"Herkmier",
       "Jefferson County, New York":"Jefferson",
       "Lewis County, New York, Middle Part":"Lewis",
       "Livingston County, New York":"Livingston", "Madison County, New York":"Madison",
        "Monroe County, New York":"Monroe",
       "Montgomery County, New York":"Montgomery", "Nassau County, New York":"Nassau",
       "Niagara County Area, New York":"Niagara", "Oneida County, New York":"Oneida",
       "Onondaga County, New York":"Onondaga", "Ontario County, New York":"Ontario",
       "Orange County, New York":"Orange", "Orleans County, New York":"Orleans",
       "Oswego County, New York":"Oswego", "Otsego County, New York":"Ostego",
       "Putnam County, New York":"Putnam", "Rensselaer County, New York":"Rensselaer",
       "Rockland County, New York":"Rockland", "Saratoga County, New York":"Saratoga",
       "Schenectady County, New York":"Schenectady", "Schoharie County, New York":"Schoharie",
       "Schuyler County, New York":"Schuyler", "Seneca County, New York":"Seneca",
       
       "St. Lawrence County, New York":"St. Lawrence", "Steuben County, New York":"Steuben",
       "Suffolk County, New York":"suffolk", "Sullivan County, New York":"Sullivan",
       "Tioga County, New York":"Tioga", "Tompkins County, New York":"Tompkins",
       "Ulster County, New York":"Ulster", "Warren County, New York":"Warren",
       "Washington County, New York":"Washington", "Wayne County, New York":"Wayne",
       "Westchester County, New York":"Westchester", "Wyoming County, New York":"Wyoming",
       "Yates County, New York":"Yates"},
                                 inplace = True)
# display
df2

,Area_symbol,Map_unit_symbol,Map_unit_name,Farmland_Class,unit_Acres,mukey
County,,,,,,
Akwesasne Territory: St. Regis Mohawk Reservation,NY689,2,"Lovewell very fine sandy loam, stratified subs...",All areas are prime farmland,58,296048
Akwesasne Territory: St. Regis Mohawk Reservation,NY689,5,"Fluvaquents-Udifluvents complex, frequently fl...",Not prime farmland,47,296049
Akwesasne Territory: St. Regis Mohawk Reservation,NY689,6,Redwater fine sandy loam,Not prime farmland,6,296101
Akwesasne Territory: St. Regis Mohawk Reservation,NY689,15B,"Waddington gravelly loam, 3 to 8 percent slopes",Farmland of statewide importance,2,296050
Akwesasne Territory: St. Regis Mohawk Reservation,NY689,18A,"Adams loamy sand, 0 to 3 percent slopes",Farmland of statewide importance,24,296051
...,...,...,...,...,...,...
Yates,NY123,We,"Woostern, Bath, and Valois soils, 25 to 45 per...",Not prime farmland,3603,1407906
Yates,NY123,Wf,"Woostern gravelly loam, 5 to 15 percent slopes",Farmland of statewide importance,3633,1407907
Yates,NY123,Wg,"Woostern gravelly loam, eroded, 5 to 15 percen...",Farmland of statewide importance,1699,1407908
Yates,NY123,Wh,"Woostern gravelly loam, 15 to 25 percent slopes",Not prime farmland,1169,1407909
Yates,NY123,Wk,"Woostern gravelly loam, eroded, 15 to 25 perce...",Not prime farmland,3251,1407910

In [27]:
df2.reset_index('County',inplace=True)

In [28]:
df2.drop(df2.loc[df2['County']=='Akwesasne Territory: St. Regis Mohawk Reservation'].index, inplace=True)
df2.drop(df2.loc[df2['County']=='Area Name'].index, inplace=True)
df2.drop(df2.loc[df2['County']=='Seneca Nation of Indians, New York'].index, inplace=True)

In [29]:
df2.describe()

,County,Area_symbol,Map_unit_symbol,Map_unit_name,Farmland_Class,unit_Acres,mukey
count,7645,7645,7645,7645,7643,7645,7645
unique,57,57,3083,4681,4,4301,7645
top,Allegany,NY003,W,Water,Not prime farmland,644,288687
freq,308,308,57,57,3322,10,1

# Merging Datasets using pd.merge method

In [30]:
final=pd.merge(bio,df2,how='inner',on='County')

final

,County,Category,Taxonomic_Group,Distribution_Status,Area_symbol,Map_unit_symbol,Map_unit_name,Farmland_Class,unit_Acres,mukey
0,Albany,Animal,Amphibians,Recently Confirmed,NY001,Ad,Adrian muck,Not prime farmland,263,288687
1,Albany,Animal,Amphibians,Recently Confirmed,NY001,Ae,Allis silt loam,Farmland of statewide importance,594,288688
2,Albany,Animal,Amphibians,Recently Confirmed,NY001,AnA,"Angola silt loam, 0 to 3 percent slopes",Prime farmland if drained,1130,288689
3,Albany,Animal,Amphibians,Recently Confirmed,NY001,AnB,"Angola silt loam, 3 to 8 percent slopes",Prime farmland if drained,3670,288690
4,Albany,Animal,Amphibians,Recently Confirmed,NY001,AnC,"Angola silt loam, 8 to 15 percent slopes",Farmland of statewide importance,417,288691
...,...,...,...,...,...,...,...,...,...,...
2430793,Yates,Plant,Mosses,Recently Confirmed,NY123,We,"Woostern, Bath, and Valois soils, 25 to 45 per...",Not prime farmland,3603,1407906
2430794,Yates,Plant,Mosses,Recently Confirmed,NY123,Wf,"Woostern gravelly loam, 5 to 15 percent slopes",Farmland of statewide importance,3633,1407907
2430795,Yates,Plant,Mosses,Recently Confirmed,NY123,Wg,"Woostern gravelly loam, eroded, 5 to 15 percen...",Farmland of statewide importance,1699,1407908
2430796,Yates,Plant,Mosses,Recently Confirmed,NY123,Wh,"Woostern gravelly loam, 15 to 25 percent slopes",Not prime farmland,1169,1407909
2430797,Yates,Plant,Mosses,Recently Confirmed,NY123,Wk,"Woostern gravelly loam, eroded, 15 to 25 perce...",Not prime farmland,3251,1407910

In [31]:
final.describe()

,County,Category,Taxonomic_Group,Distribution_Status,Area_symbol,Map_unit_symbol,Map_unit_name,Farmland_Class,unit_Acres,mukey
count,2430798,2430798,2430798,2430798,2430798,2430798,2430798,2430098,2430798,2430798
unique,54,3,27,4,54,3041,4517,4,4174,7304
top,Essex,Animal,Birds,Recently Confirmed,NY031,W,Water,Not prime farmland,644,319271
freq,125673,1669627,1192569,1965835,125673,17736,17736,1075228,3483,489

In [32]:
final

,County,Category,Taxonomic_Group,Distribution_Status,Area_symbol,Map_unit_symbol,Map_unit_name,Farmland_Class,unit_Acres,mukey
0,Albany,Animal,Amphibians,Recently Confirmed,NY001,Ad,Adrian muck,Not prime farmland,263,288687
1,Albany,Animal,Amphibians,Recently Confirmed,NY001,Ae,Allis silt loam,Farmland of statewide importance,594,288688
2,Albany,Animal,Amphibians,Recently Confirmed,NY001,AnA,"Angola silt loam, 0 to 3 percent slopes",Prime farmland if drained,1130,288689
3,Albany,Animal,Amphibians,Recently Confirmed,NY001,AnB,"Angola silt loam, 3 to 8 percent slopes",Prime farmland if drained,3670,288690
4,Albany,Animal,Amphibians,Recently Confirmed,NY001,AnC,"Angola silt loam, 8 to 15 percent slopes",Farmland of statewide importance,417,288691
...,...,...,...,...,...,...,...,...,...,...
2430793,Yates,Plant,Mosses,Recently Confirmed,NY123,We,"Woostern, Bath, and Valois soils, 25 to 45 per...",Not prime farmland,3603,1407906
2430794,Yates,Plant,Mosses,Recently Confirmed,NY123,Wf,"Woostern gravelly loam, 5 to 15 percent slopes",Farmland of statewide importance,3633,1407907
2430795,Yates,Plant,Mosses,Recently Confirmed,NY123,Wg,"Woostern gravelly loam, eroded, 5 to 15 percen...",Farmland of statewide importance,1699,1407908
2430796,Yates,Plant,Mosses,Recently Confirmed,NY123,Wh,"Woostern gravelly loam, 15 to 25 percent slopes",Not prime farmland,1169,1407909
2430797,Yates,Plant,Mosses,Recently Confirmed,NY123,Wk,"Woostern gravelly loam, eroded, 15 to 25 perce...",Not prime farmland,3251,1407910

In [33]:
group=final.loc[:,["County","unit_Acres"]]
group

         County unit_Acres
0        Albany        263
1        Albany        594
2        Albany       1130
3        Albany       3670
4        Albany        417
...         ...        ...
2430793   Yates       3603
2430794   Yates       3633
2430795   Yates       1699
2430796   Yates       1169
2430797   Yates       3251

[2430798 rows x 2 columns]

In [34]:
group.dtypes

County        object
unit_Acres    object
dtype: object

In [35]:
group.set_index('County', inplace=True)

In [36]:
group

       unit_Acres
County
Albany        263
Albany        594
Albany       1130
Albany       3670
Albany        417
...           ...
Yates        3603
Yates        3633
Yates        1699
Yates        1169
Yates        3251

[2430798 rows x 1 columns]

In [37]:
group.astype(float).sum()

unit_Acres    9.546375e+09
dtype: float64

In [38]:
group.groupby('unit_Acres').max()

Empty DataFrame
Columns: []
Index: [1, 10, 100, 1001, 10016, 1002, 10027, 1003, 1004, 1005, 10054, 10055, 1006, 1007, 10071, 10079, 1008, 1009, 101, 1010, 10102, 10106, 1011, 1012, 1013, 1014, 10143, 1015, 10154, 10156, 10159, 1016, 1017, 10170, 1018, 1019, 10198, 1022, 10228, 1023, 10231, 10233, 10237, 1024, 10242, 1025, 10254, 10258, 1026, 10264, 10272, 10278, 1028, 10285, 1029, 103, 1030, 10305, 1031, 1033, 10333, 10338, 1035, 1036, 1038, 10385, 10389, 1039, 10399, 104, 1040, 1041, 1042, 10420, 10422, 10424, 1043, 1044, 10444, 10446, 1046, 1047, 10478, 1048, 1049, 10494, 105, 1050, 1051, 1052, 1053, 1054, 1055, 10551, 10553, 10562, 1057, 10574, 1058, 10582, ...]

[4174 rows x 0 columns]

In [39]:
df_final=final.groupby(['County', 'unit_Acres'])['Farmland_Class'].agg('sum')

In [40]:
df_final.head(50)

County  unit_Acres
Albany  10            Not prime farmlandNot prime farmlandNot prime ...
        1029          Not prime farmlandNot prime farmlandNot prime ...
        1066          All areas are prime farmlandAll areas are prim...
        1079          Not prime farmlandNot prime farmlandNot prime ...
        10907         Not prime farmlandNot prime farmlandNot prime ...
        1129          All areas are prime farmlandAll areas are prim...
        1130          Prime farmland if drainedPrime farmland if dra...
        1172          Not prime farmlandNot prime farmlandNot prime ...
        1202          Prime farmland if drainedPrime farmland if dra...
        1217          All areas are prime farmlandAll areas are prim...
        1229          Not prime farmlandNot prime farmlandNot prime ...
        1252          Not prime farmlandNot prime farmlandNot prime ...
        1278          All areas are prime farmlandAll areas are prim...
        1294          Not prime farmlandNot prime farmlandNot prime ...
        13            Not prime farmlandNot prime farmlandNot prime ...
        1329          Farmland of statewide importanceFarmland of st...
        1354          Farmland of statewide importanceFarmland of st...
        13646         All areas are prime farmlandAll areas are prim...
        1406          Farmland of statewide importanceFarmland of st...
        1422          Not prime farmlandNot prime farmlandNot prime ...
        1428          Farmland of statewide importanceFarmland of st...
        148           All areas are prime farmlandAll areas are prim...
        14996         Farmland of statewide importanceFarmland of st...
        153           Farmland of statewide importanceFarmland of st...
        15543         Farmland of statewide importanceFarmland of st...
        1636          All areas are prime farmlandAll areas are prim...
        1695          Not prime farmlandNot prime farmlandNot prime ...
        1706          Farmland of statewide importanceFarmland of st...
        1835          Prime farmland if drainedPrime farmland if dra...
        185           All areas are prime farmlandFarmland of statew...
        1858          All areas are prime farmlandAll areas are prim...
        1884          Not prime farmlandNot prime farmlandNot prime ...
        2020          Farmland of statewide importanceFarmland of st...
        20239         Prime farmland if drainedPrime farmland if dra...
        209           All areas are prime farmlandAll areas are prim...
        2090          Not prime farmlandNot prime farmlandNot prime ...
        2140          All areas are prime farmlandAll areas are prim...
        223           All areas are prime farmlandAll areas are prim...
        2230          Not prime farmlandNot prime farmlandNot prime ...
        2243          All areas are prime farmlandAll areas are prim...
        230           Prime farmland if drainedPrime farmland if dra...
        2359          All areas are prime farmlandAll areas are prim...
        2377          Not prime farmlandNot prime farmlandNot prime ...
        2390          Farmland of statewide importanceFarmland of st...
        2397          Not prime farmlandNot prime farmlandNot prime ...
        2452          Prime farmland if drainedPrime farmland if dra...
        261           All areas are prime farmlandAll areas are prim...
        263           Not prime farmlandNot prime farmlandNot prime ...
        2665          Prime farmland if drainedPrime farmland if dra...
        2743          Not prime farmlandNot prime farmlandNot prime ...
Name: Farmland_Class, dtype: object